extends layout
block content
    h1= title

    if (toShow == null)
        h2 No instance to delete
    else
        - let queenid = toShow._id
        - let queenname = toShow.queen_name
        - let networth = toShow.networth
        - let queencountry = toShow.queen_country
        - let actionid = "/resource/queens/" + queenid
        script let actionid = "#{actionid}"
        div
            div.row
                div(class='queenAttr mr-3') Queen ID is:
                div #{queenid}
            div.row
                div(class='queenAttr mr-3') Queen Name is:
                div #{queenname}
            div.row
                div(class='queenAttr mr-3') Queen Country is:
                div #{queencountry}
            div.row
                div(class='queenAttr mr-3') Queen Networth is:
                div #{networth}

        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
        function cancel() {
            // Go back to the home page for the queen collection
            window.location.href='/queens'
        }
    script.
        function deleteOnid() {
            console.log("starting delete")
            // delete first
            fetch(actionid, {
                method: 'DELETE' // Don't need a body for the delete
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Delete succeded")
                window.location.href='/queens'
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Delete failed " + error )
            });
        }