extends layout

block content
  h1= title
  p Welcome to #{title}. My name is Phani Naidu Ratnala
  - let items = results
   br
  p Click here to add new book to the collection
    button(class="btn btn-success m-2" onclick="dispatch('/queens/create')") Create
  div(class="container-fluid")
    div(class="row m-1")
      each queens, index in items
        - let destination = `dispatch(\"/queens/update?id=${queens._id}\")`
        - let destination1 = `dispatch(\"/queens/detail?id=${queens._id}\")`
        - let destination2 = `dispatch(\"/queens/delete?id=${queens._id}\")`
        div(class="row-sm-2 m-1" onclick=`buy(${index+1})`) #{queens.queen_name} - #{queens.queen_country} - $#{queens.networth}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          button.btn( class="btn-info ml-1", onclick= destination1) Detail
          button.btn( class="btn-danger ml-1", onclick= destination2) Delete

  script.
    function buy(index){
      alert(`You purchased item ${index}`);
    }
    function dispatch(path){
      window.location.href=path
    }