extends layout

block content
  h1= title
  p Welcome to #{title}. My name is Phani Naidu Ratnala
  - let items = results
  div(class="container-fluid")
    div(class="row")
      each queens, index in items
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{queens.queen_name} - #{queens.queen_country} - $#{queens.networth}
  
  script.
    function buy(index){
      alert(`You purchased item ${index}`);
    }